#bottom-div {
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 30px;
    background-color: white;
}
.btn-to-wave{
    font-size: 2em;
    line-height: 2.2;
}
.quantity-info{
    color: red;
    font-weight: bolder;
    font-size: 2em;
}
.barcode-info{
    color: blue;
    font-size: 2em;
}
.num-pad{
    left: 25%;
    bottom: 80px;
}
.fa-10x {
  font-size: 10em;
}
