#quantity .btn, #quantity .btn, #quantity input,
#label-quantity .btn, #label-quantity input,
#label-printed .btn,
#label-printed input, #label-ok .btn
{
    height: 100px;
}
#quantity .btn, #quantity .btn, #label-quantity .btn,
#label-printed .btn, #label-ok .btn
{
    width: 70px;
}

#quantity .btn, #label-quantity .btn, #label-printed .btn, #label-ok .btn
{
    font-size: 2vw;
}

#quantity input, #label-printed input, #label-quantity input {
    font-size: 2.5em;
}

.medium-image{
    height:50%;
}

.fa-10x {
  font-size: 10em;
}

#bottom-div {
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 30px;
    background-color: white;
}
.numpad-above .num-pad{
    left: 25%;
    bottom: 80px;
}
