/* Layout */
html, body {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
}


#current_product {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    min-height: 350px;
}
#bottom-div {
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 30px;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
}
.numpad-above .num-pad{
    left: 25%;
    bottom: 80px;
}
.alert-row {
    padding-left:0px;
    padding-right:0px;
}

#quantity .btn, #quantity .btn, #quantity input,
#label-quantity .btn, #label-quantity input,
#label-printed .btn,
#label-printed input, #label-ok .btn
{
    height: 100px;
}
#quantity .btn, #quantity .btn, #label-quantity .btn,
#label-printed .btn, #label-ok .btn
{
    width: 70px;
}

#quantity .btn, #label-quantity .btn, #label-printed .btn, #label-ok .btn
{
    font-size: 2vw;
}

#quantity input, #label-printed input, #label-quantity input {
    font-size: 2.5em;
}

.medium-image{
    height:300px;
}

.fa-10x {
  font-size: 10em;
}
