/* WAVE SCREEN */

/* Layout */
body {
    background-color: #f1f1f1;
}
#navbar {
    position: fixed;
    width: 100%;
    z-index: 500;
}
#wave-id-li {
    margin-left: -15px;
}
#picking-list {
    position: fixed;
    top: 70px;
    left: 15px;
    width: 16.666666%;
}
#product-list {
    top: 70px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
#current_product {
    background-color: #fff;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}
#current-product-name-row {
    min-height: 300px;
}
#current-product-quantity-row {
    min-height: 110px;
}

/* ERROR MESSAGES */
.error-message {
    font-size: 1.5em;
}
.error-icon {
    font-size: 10em;
    color: red;
}

/* Picking Waves Progress Bar*/
/* Overwrite template.css */
.picking_progress {
    background-color: rgba(255,148,148,1.0);
    font-size: 1em;
    margin: -10px;
    margin-left: -15px;
    margin-right: -15px;
    height: 40px;
}
/* Overwrite template.css */
.picking_done {
    background-color: rgba(159,204,135,1.0);
}
#picking-name {
    padding: 5px;
    position: absolute;
}

/* Product */

/* Current Product */
.input-picking {
    min-width: 150px;
    margin-right: auto;
    margin-left: auto;
}
#quantity_wave .btn, #quantity_wave .btn, #quantity_wave input,
#label-quantity .btn, #label-quantity input,
#label-printed .btn, #label-printed .btn,
#label-printed input
{
    height: 100px;
    width: 100px;
}
.form-control-picking {
    font-size: 4em;
    height: 100px;
    padding: 0px;
    min-width: 50px;
    max-width: 150px;
    line-height: 1.8;
}
.buttons-product {
    font-size: 5em;
    width: 150px;
    margin-top: 10px;
}
.current-product-buttons {
    padding-top: 15px;
}
#next-product-img {
    max-width: 100px;
}
#current-product-img {
    max-width: 500px;
}
.buttons-icons-quantity {
    line-height: 2.8;
}
#quantity-input-value {
 min-width: 150px;
}

/* Next Products */
#next-products-table tr td {
    height: 100px;
    vertical-align: middle;
    border-top: 0px;
    border-bottom: 1px solid #ddd;
}


/* SELECT WAVE SCREEN */

.a_picking{
    border: 0px;
    padding: 0px 0px;
}

#create-wave{
    top: 70px;
    position: relative;
    text-align: center;
    font-size: 3em;
    background-color: #d9534f;
    color: #fff;
    width:50%;
    margin:0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

#create-wave:hover{
    background-color: #c9433f;
    color: #fff;
    cursor: hand;
}
#no-picking-found {
    top: 70px;
    position: relative;
}

#current_picking{
    text-align: center;
    background-color: #d9534f;
    color: #fff;
    width:50%;
    margin:0 auto;
}

#current_picking:hover{
    background-color: #c9433f;
    color: #fff;
    cursor: hand;
}

#choose-wave{
    text-align: center;
    font-size: 5em;
    background-color: #d98e53;
    color: #fff;
    width:50%;
    margin:0 auto;
}

#choose-wave:hover{
    background-color: #d98e53;
    color: #fff;
    cursor: hand;
}

/* ########## NUMPAD */

#manual-barcode-input:focus ~ .num-pad, .num-pad:hover{
    display: block;
}

.num-pad{
    z-index: 10;
    position: absolute;
    /*left: 25%;*/
    /*bottom: 80px;*/
    right: auto;
    width: 100%;
    background-color: white;
    border: solid 1px;
    border-color: #BBB;
    display: none;
}

.num-pad .circle:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.num-pad .circle {
    position: relative;
    overflow: hidden;
    width: 29.2%;
    float: left;
    margin: 2%;

    border: 1px solid #9e9e9e;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.circle:active{
    background-color: #9e9e9e;
    color: #fff;
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}

.num-pad .num{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.num-pad .num div{
   display: table;
   width: 100%;
   height: 100%;
}

.num-pad span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Lato' , sans-serif;
    line-height: 30px;
    color: #333;
}

.numpad-control-picking {
    font-size: 2em;
    height: 50px;
}

.img-300{
    max-width: 300px;
    max-height: 300px;
}

.fa-5x {
  font-size: 5em;
}

.wave-row{
    width: 50%;
}

.wave-div{
    margin-top: 10px;
}

.time-complete{
    text-align:center;
    color:red;
    font-size: 3em;
}
