@media (min-width: 1200px){
    .container {
        width: 95%;
    }
}

/* ########## NAVBAR */

.navbar {
    text-align: center;
}

.navbar-center {
    display: inline-block;
    float: none;
    margin: 0;
}

.navbar-default .navbar-nav .navbar-ok > a,
.navbar-default .navbar-nav .navbar-ok > a:hover,
.navbar-default .navbar-nav .navbar-ok > a:focus{
    background-color: #00ad9c;
    color: #fff;
}

.navbar-default .navbar-nav .navbar-ok > a:hover{
    background-color: #10bdac;
}

/* ########## SEARCH */

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.result-row, .result-row >div{
    margin-top: 15px;
}

.thumbnail{
    margin-bottom: 0px;
}

.square-label{
    text-align: center;
    word-wrap: break-word;
    height: 3em;
    overflow: hidden;
}

.square{
    width: 100%;
    padding-bottom : 100%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain; /* you change this to "contain" if you don't want the images to be cropped */
}

.scan-row img{
    width: 50%;
}

h2{
    color: #999999;
    font-size: 1.4em;
    font-stretch: normal;
    font-weight: normal;
}

#results .btn{
    margin-top: 1%;
    margin-bottom: 1%;
}

/* ########## PAGE */

.page{
    margin-top: 2%;
}

#barcodes > div:last-child {
    border-left: 1px solid #ccc;
}

#barcodes img{
    width: 100%;
}

#barcodes ul{
    margin-top: 2%;
}

#barcodes li{
    display: block;
    font-size: 1.5em;
    margin: 1%;
}

/* ########## RACK */

.label {
    font-size: 2em;
}

#rack{
    font-size: 6em;
    background-color: #d9534f;
    color: #fff;
}

#rack:hover{
    font-size: 6em;
    background-color: #c9433f;
    color: #fff;
    cursor: hand;
}

#rack span{
    margin-top: 30px;
    margin-bottom: 30px;
}

#rack .glyphicon {
    vertical-align: sub;
}
/* ########## QUANTITY */

#quantity {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#quantity .btn {
    width: 70px;
}

#quantity .btn, #quantity input {
    height: 70px;
}

#quantity .btn {
    font-size: 1.5vw;
}

#quantity input {
    font-size: 2.5em;
}

/* ########## NUMPAD */

/*#quantity input:focus ~ .num-pad, .num-pad:hover{*/
    /*display: block;*/
/*}*/

.num-pad{
    position: absolute;
    left: 25%;
    bottom: 80px;
    right: auto;
    width: 50%;
    background-color: white;
    border: solid 1px;
    border-color: #BBB;
    display: none;
}

.num-pad .circle:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.num-pad .circle {
    position: relative;
    overflow: hidden;
    width: 29.2%;
    float: left;
    margin: 2%;

    border: 1px solid #9e9e9e;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-border-radius: 100%;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.circle:hover{
    background-color: #9e9e9e;
    color: #fff;
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}

.num-pad .num{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.num-pad .num div{
   display: table;
   width: 100%;
   height: 100%;
}

.num-pad span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    font-size: 1.3em;
    text-align: center;
    font-family: 'Lato' , sans-serif;
    line-height: 30px;
    color: #333;
}
