<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Wave Screen</title>

    <!-- Calling online links to bootstrap for development. To be changed when implemented in Odoo. -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="../static/src/css/template.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!--    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script async="" src="js/bootstrap.min.js"></script> -->

</head>
<body>

    <div class="container">
        <h3>Wave ID</h3>
        <div class="row">
            <div id="picking-list" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <h4>Pickings</h4>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-success">01</li>
                  <li class="list-group-item list-group-item-success">02</li>
                  <li class="list-group-item list-group-item-success">03</li>
                  <li class="list-group-item list-group-item-info">04</li>
                  <li class="list-group-item list-group-item-danger">05</li>
                  <li class="list-group-item list-group-item-danger">06</li>
                  <li class="list-group-item list-group-item-danger">07</li>
                  <li class="list-group-item list-group-item-danger">08</li>
                  <li class="list-group-item list-group-item-danger">09</li>
                  <li class="list-group-item list-group-item-danger">10</li>
                  <li class="list-group-item list-group-item-danger">11</li>
                  <li class="list-group-item list-group-item-danger">12</li>
                  <li class="list-group-item list-group-item-danger">13</li>
                  <li class="list-group-item list-group-item-danger">14</li>
                  <li class="list-group-item list-group-item-danger">15</li>
                </ul>
            </div>
            <div id="product-list" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div id="current-product" class="row">
                    <h4>Current product</h4>
                    <div id="current-product-img" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <img src="product1.jpg" style="width: 100%; height: 100%" alt="Current Product Image">
                    </div>
                    <div id="current-product-description" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <table class="table">
                            <tbody>
                              <tr>
                                <td class="text-left" style="width: 33%; vertical-align: middle;">Quantity</td>
                                <td style="width: 33%; vertical-align: middle;">
                                    <div id="current-product-quantity-left" class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
                                        </span>
                                        <input type="text" class="form-control text-center" value="1">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                                        </span>
                                    </div>
                                </td>
                                <td style="width: 33%; vertical-align: middle;">
                                    <div id="current-product-quantity-total" class="text-right">of <strong>50</strong></div>
                                </td>
                              </tr>
                              <tr>
                                  <td class="text-left">Location</td>
                                  <td>&nbsp;</td>
                                  <td id="current-product-location" class="text-right"><strong>A4 / 23</strong></td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="next-products" class="row">
                    <hr>
                    <h4>Next products</h4>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Location</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Product 2</td>
                            <td>D4 / 35</td>
                          </tr>
                          <tr>
                            <td>Product 3</td>
                            <td>E6 / 50</td>
                          </tr>
                          <tr>
                            <td>Product 4</td>
                            <td>E5 / 35</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>